.content {
  width: 600px;
  border: 1px solid red;
  margin: 0 auto;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid black;
}

td {
  white-space: pre;
}

.reviewName {
  float: left;
}

.reviewPrice {
  float: right;
}
